@font-face {
      font-family: "ailerons";
      src: url("ailerons.otf");
  }

  @font-face {
      font-family: "covesBold";
      src: url("covesBold.otf");
  }

  body {
      text-align: center;
      font-family: 'covesBold';
      color: white;
      margin:  0 auto;
  }

/*Navbar code starts*/
    .fixedNavbar ul {
        margin: 0;
        background-color: #333;
        position: fixed;
        width: 100%;
        font-family: 'ailerons';
        text-align: center;
    }

    .fixedNavbar ul li {
      margin-right: 40px;
      display: inline-block;
      float: inherit;
    }

    .fixedNavbar a {
        margin: 25px 90px 25px 0px;
        color: #f2f2f2;
        font-size: 25px;
        width: 50px;
        line-height: 15px;
        text-align: center;
        text-decoration: none;
        display: block;
        transition: font-size 0.5s;
        -webkit-transition: font-size 0.5s;
        -moz-transition: font-size 0.5s;
        }

    .fixedNavbar a:hover {
      font-size: 28px;
    }
/*Navbar code ends*/

    .titleDiv {
      padding: 100px 0px 40px 0px;
      color: white;
      font-family: 'Ailerons';
      text-align: center;
      background: url("./mountains.jpg");
      background-size: cover;
  }

  h1 {
    font-size: 100px;
  }

    .titleStyle {
      font-family: 'ailerons';
      font-size: 100px;
    }

    iframe {
      width: 100%;
      margin-bottom: -10px;
    }

    /*southampton div*/
    .southampton {
      padding: 100px 50px 150px 50px;
      background: url("./guildhall.jpg");
      background-size: cover;
    }

    .titleSouthampon {
      font-family: 'ailerons';
      font-size: 150px;
    }

    .subtitleSouthampton {
      font-size: 40px;
      padding: 50px 200px 0px 200px;
    }

    /*plastic div*/
    .plastic {
      padding: 100px 200px 50px 200px;
      background: url("./coffee.jpg");
      background-size: cover;
    }

    .titlePlastic {
      font-family: 'ailerons';
    }

    ol {
      display: block;
      padding: 0px 0px 0px 350px;
      text-align: left;
      list-style: inside;
    }

    .plastic {
      padding-bottom: 130px;
    }

    .subtitlePlastic {
      font-size: 30px;
      margin: 50px 150px 20px 150px;
    }

    .paragraphPlastic {
      font-size: 25px;
      margin: 50px 0px 50px 0px;
    }

    /*energy div*/
    .energy{
      padding: 100px 300px 170px 300px;
      background: url("./lightning.jpg");
      background-size: cover;
    }

    .titleEnergy {
      font-family: 'ailerons';
      margin-bottom: 50px;
    }

    .subtitleEnergy {
      font-size: 35px;
      padding-bottom: 20px;
    }

    a {
      color: white;
      text-decoration: underline;
    }

    .subtitleSouthampton {
      padding-bottom: 20px;
    }

    /*joinUs div*/
    .joinUs{
      background: url("./mountains.jpg");
      background-size: cover;
      margin-top: -50px;
      padding: 100px 100px 150px 100px;
    }

    .titleJoin {
      padding-bottom: 50px;
    }

    .form {
      display: inline-block;
    }
